.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#root {
  height: 100%;
}

.large-emoji {
  font-size: 15rem;  /* This will make the emoji 5 times the base font size. Adjust as needed. */
}

.App { /* or whatever the classname of your root container is */
  height: 100vh; 
}


button {
  padding: 10px 20px;
  margin: 10px;
}

.player-icon {
  font-size: 3rem;  /* Adjust this value to your liking */
  cursor: pointer; 
  margin: 0.4rem;  /* Provides some spacing between icons */
}

.highlighted {
  transition: background-color 0.3s ease;
  background-color: yellow;
}

.flash {
  animation: flashAnimation 1s linear infinite;
}

@keyframes flashAnimation {
  0%, 100% {
    background-color: yellow;
  }
  50% {
    background-color: transparent;
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill the entire screen */
}





